@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
}

.main {
  background-image: url("assets/images/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1350px, 100vw);
  height: 90vh;
  position: relative;
}

.main .box {
  height: 90vh;
  width: 100%;
  opacity: 0.7;
  background-color: black;
  position: absolute;
  top: 0;
}

nav {
  display: flex;
  max-width: 75vw;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  padding-top: 10px;
}

nav img {
  color: red;
  width: 150px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  font-family: "Martel Sans", sans-serif;
  /* As hight in nav is 62px and padding-top is 10px. So total is 72px hight, so we substract 72px from 100% */
  height: calc(100% - 72px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: white;
  gap: 23px;
  padding: 0 30px;
  text-align: center;
}

.hero > :nth-child(1) {
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
}

.hero > :nth-child(2) {
  font-weight: 550;
  font-size: 25px;
  text-align: center;
}

.hero > :nth-child(3) {
  font-weight: 1500;
  font-size: 20px;
  text-align: center;
}

.separation {
  height: 7px;
  background-color: rgb(67, 67, 67);
  position: relative;
  z-index: 20;
}

.btn {
  padding: 5px 22px;
  font-weight: 500;
  color: white;
  background-color: rgba(23, 23, 23, 0.7);
  border-radius: 4px;
  border: 1px solid rgb(107, 107, 107);
  cursor: pointer;
}

.btn-red-sm {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

.btn-red {
  background-color: red;
  color: white;
  padding: 9px 50px 9px 50px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
}

.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  cursor: pointer;
}

.main input {
  padding: 11px 101px 11px 16px;
  font-size: 15px;
  border-radius: 4px;
  font-weight: 500;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgb(107, 107, 107);
  color: white;
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
  margin: auto;
  color: white;
}

.secImg {
  position: relative;
}

.secImg img {
  width: 450px;
  position: relative;
  z-index: 10;
}

.secImg video {
  position: absolute;
  width: 380px;
  top: 91px;
  right: 18px;
  left: 59px;
}

section.first > div {
  display: flex;
  flex-direction: column;
  padding: 34px 0;
}

section.first > div :nth-child(1) {
  font-size: 48px;
  font-weight: bolder;
}

section.first > div :nth-child(2) {
  font-size: 24px;
}

section.second > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

section.second > div span {
  display: flex;
  flex-direction: column;
}

.faq {
  background: black;
  color: white;
  padding: 35px;
}

.faq h2 {
  text-align: center;
  font-size: 48px;
  padding-bottom: 20px;
}

.faqbox {
  display: flex;
  justify-content: space-between;
  background-color: rgb(37, 37, 37);
  font-size: 24px;
  padding: 20px;
  max-width: 65vw;
  margin: 11px auto;
  cursor: pointer;
  transition: 0.5s;
}

.faqbox:hover {
  background-color: rgb(54, 54, 54);
}

footer {
  color: white;
  max-width: 65vw;
  margin: auto;
  padding: 20px;
}

footer .credit {
  padding-top: 15px;
  text-align: center;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
}

@media screen and (max-width: 1320px) {
  nav {
    max-width: 90vw;
  }

  .first {
    flex-wrap: wrap;
    text-align: center;
  }
  section.second > div {
    flex-wrap: wrap;
    text-align: center;
  }

  .secImg img {
    width: 333px;
  }

  .secImg video {
    width: 288px;
    top: 75px;
    left: 43px;
  }

  .hero > :nth-child(1) {
    font-size: 35px;
  }

  .hero > :nth-child(2) {
    font-size: 19px;
  }

  .hero > :nth-child(3) {
    font-size: 18px;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    padding-top: 44px;
    cursor: pointer;
  }

  nav img {
    width: 100px;
  }

  .secImg {
    margin-top: -65px;
  }

  .btn-red {
    padding: 11px 40px 11px 40px;
    font-size: 15px;
  }

  .main input {
    padding: 9px 50px 9px 15px;
    font-size: 15px;
  }

  section.first > div :nth-child(1) {
    font-size: 33px;
  }

  section.first > div :nth-child(2) {
    font-size: 17px;
  }

  section.second > div :nth-child(1) {
    padding-top: 40px;
  }

  .faq {
    background: black;
    color: white;
    padding: 35px;
  }

  .faq h2 {
    font-size: 35px;
    padding-bottom: 15px;
  }

  .faqbox {
    font-size: 18px;
    padding: 20px;
    max-width: 85vw;
  }
}

footer .questions {
  padding: 24px 0;
}

.footer a {
  font-size: 14px;
  color: white;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

@media screen and (max-width: 1320px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7px;
  }

  footer {
    max-width: 85vw;
  }
}
